<h1>Show Page:  <%= result.Title %></h1>

<img src="<%=result.Poster%>"/>
<br>
<h2><%= result.Title %> (<%= result.Year %>)</h2>
<br>
Notable Awards: <%= result.Awards %>
<br>
Title: <%= result.Title %>
<br>
<div>
    <p>
        IMDB Rating: 
        <% for(i=0; i< parseInt(result.imdbRating); i++) { %>
            <i class="fas fa-star"></i>
        <% } %>
        <% for(i=0; i< 10-parseInt(result.imdbRating); i++) { %>
            <i class="far fa-star"></i>
        <% } %>
    </p>
    <p>
        <% if(result.Ratings) { %>
            Rotten Tomatoes Rating: <%= result.Ratings[1].Value %>
        <% } %>
    </p>
</div>


